output/**
**/*.o
**/*.obj
*.idb
*.exe
*.pdb
*.ncb
*.bak
*.tlog
**/*.d
/custom.mk
/.vs
.vscode
node_modules
Debug*/**
libs_for_simulator/**
*.user
DevIL.dll
freeglut.dll
ILU.dll
ILUT.dll
SDL2.dll
nfd_d.lib
/sim_lastPublish_long.txt
/sim_lastPublishes.txt
/sim_lastPublish.txt
/lastMQTTPublishSentByOBK.txt
*.sln

# MacOS ignores
.DS_Store
