CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_PANEL_BOARD_DEFAULT_USE_SUPPORTED=y
CONFIG_ESP_PANEL_BOARD_MANUFACTURER_ALL=y
CONFIG_BOARD_ESPRESSIF_ESP32_S3_BOX_3=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

CONFIG_SPIRAM_MODE_OCT=y

CONFIG_LV_COLOR_16_SWAP=y
