CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_PANEL_BOARD_DEFAULT_USE_SUPPORTED=y
CONFIG_ESP_PANEL_BOARD_MANUFACTURER_ALL=y
CONFIG_BOARD_ESPRESSIF_ESP32_C3_LCDKIT=y

CONFIG_LV_COLOR_16_SWAP=y
