CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_SPIRAM_MODE_OCT=y

CONFIG_ESP_PANEL_BOARD_DEFAULT_USE_CUSTOM=y
CONFIG_ESP_PANEL_BOARD_NAME="Custom_ESP32_S3_BOX_3"
CONFIG_ESP_PANEL_BOARD_USE_LCD=y
CONFIG_ESP_PANEL_BOARD_LCD_COLOR_BGR_ORDER=y
CONFIG_ESP_PANEL_BOARD_LCD_MIRROR_X=y
CONFIG_ESP_PANEL_BOARD_LCD_MIRROR_Y=y
CONFIG_ESP_PANEL_BOARD_LCD_RST_IO=48
CONFIG_ESP_PANEL_BOARD_LCD_RST_LEVEL=1
CONFIG_ESP_PANEL_BOARD_USE_TOUCH=y
CONFIG_ESP_PANEL_BOARD_TOUCH_CONTROLLER_GT911=y
CONFIG_ESP_PANEL_BOARD_TOUCH_I2C_SCL_PULLUP=n
CONFIG_ESP_PANEL_BOARD_TOUCH_I2C_SDA_PULLUP=n
CONFIG_ESP_PANEL_BOARD_TOUCH_INT_IO=3
CONFIG_ESP_PANEL_BOARD_USE_BACKLIGHT=y
CONFIG_ESP_PANEL_BOARD_BACKLIGHT_IO=47
