config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85
    bool "ESP32_S3_TOUCH_LCD_1_85"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-1.85.htm

config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_1
    bool "ESP32_S3_TOUCH_LCD_2_1"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-2.1.htm

config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_4_3
    bool "ESP32_S3_TOUCH_LCD_4_3"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-4.3.htm

config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_4_3_B
    bool "ESP32_S3_TOUCH_LCD_4_3_B"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-4.3B.htm

config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_5
    bool "ESP32_S3_TOUCH_LCD_5"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-5.htm?sku=28117

config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_5_B
    bool "ESP32_S3_TOUCH_LCD_5_B"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-5.htm?sku=28151
config BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_7
    bool "ESP32_S3_TOUCH_LCD_7"
    help
        https://www.waveshare.com/esp32-s3-touch-lcd-7.htm

config BOARD_WAVESHARE_ESP32_P4_NANO
    bool "ESP32_P4_NANO"
    help
        https://www.waveshare.com/esp32-p4-nano.htm
