CONFIG_IDF_TARGET="esp32p4"

CONFIG_ESP_PANEL_BOARD_DEFAULT_USE_CUSTOM=y
CONFIG_ESP_PANEL_BOARD_NAME="Custom_ESP32_P4_FUNCTION_EV_BOARD"
CONFIG_ESP_PANEL_BOARD_WIDTH=1024
CONFIG_ESP_PANEL_BOARD_HEIGHT=600
CONFIG_ESP_PANEL_BOARD_USE_LCD=y
CONFIG_ESP_PANEL_LCD_CONTROLLER_EK79007=y
CONFIG_ESP_PANEL_BOARD_LCD_BUS_TYPE_MIPI_DSI=y
CONFIG_ESP_PANEL_BOARD_LCD_RST_IO=27
CONFIG_ESP_PANEL_BOARD_USE_TOUCH=y
CONFIG_ESP_PANEL_BOARD_TOUCH_CONTROLLER_GT911=y
CONFIG_ESP_PANEL_BOARD_TOUCH_I2C_IO_SCL=8
CONFIG_ESP_PANEL_BOARD_TOUCH_I2C_IO_SDA=7
CONFIG_ESP_PANEL_BOARD_TOUCH_I2C_SCL_PULLUP=n
CONFIG_ESP_PANEL_BOARD_TOUCH_I2C_SDA_PULLUP=n
CONFIG_ESP_PANEL_BOARD_TOUCH_MIRROR_X=y
CONFIG_ESP_PANEL_BOARD_TOUCH_MIRROR_Y=y
CONFIG_ESP_PANEL_BOARD_USE_BACKLIGHT=y
CONFIG_ESP_PANEL_BOARD_BACKLIGHT_IO=26
