CONFIG_ESP_TASK_WDT_EN=n
CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_CXX_EXCEPTIONS=y

CONFIG_ESP_PANEL_DRIVERS_BUS_USE_ALL=y
CONFIG_ESP_PANEL_DRIVERS_LCD_USE_ALL=y
CONFIG_ESP_PANEL_DRIVERS_TOUCH_USE_ALL=y
CONFIG_ESP_PANEL_DRIVERS_EXPANDER_USE_ALL=y
CONFIG_ESP_PANEL_DRIVERS_BACKLIGHT_USE_ALL=y
