CONFIG_IDF_TARGET="esp32c3"
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

CONFIG_ESP_PANEL_BOARD_DEFAULT_USE_CUSTOM=y
CONFIG_ESP_PANEL_BOARD_NAME="Custom_ESP32_C3_LCDKIT"
CONFIG_ESP_PANEL_BOARD_WIDTH=240
CONFIG_ESP_PANEL_BOARD_USE_LCD=y
CONFIG_ESP_PANEL_LCD_CONTROLLER_GC9A01=y
CONFIG_ESP_PANEL_BOARD_LCD_SPI_IO_CS=7
CONFIG_ESP_PANEL_BOARD_LCD_SPI_IO_DC=2
CONFIG_ESP_PANEL_BOARD_LCD_SPI_IO_SCK=1
CONFIG_ESP_PANEL_BOARD_LCD_SPI_IO_MOSI=0
CONFIG_ESP_PANEL_BOARD_LCD_COLOR_BGR_ORDER=y
CONFIG_ESP_PANEL_BOARD_LCD_COLOR_INEVRT_BIT=y
CONFIG_ESP_PANEL_BOARD_LCD_MIRROR_X=y
CONFIG_ESP_PANEL_BOARD_USE_BACKLIGHT=y
CONFIG_ESP_PANEL_BOARD_BACKLIGHT_IO=5
