name: Build App

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  APP_NAME: ${{ github.event.repository.name }}

jobs:
  refs:
    name: Prepare CI Environment
    runs-on: ubuntu-22.04
    outputs:
      sha_short: ${{ steps.refs.outputs.sha_short }}
      short_ref: ${{ steps.refs.outputs.short_ref }}
      version: ${{ steps.refs.outputs.version }}
      new_release: ${{ steps.refs.outputs.new_release }}
    steps:
      - name: Source checkout
        uses: actions/checkout@v4

      - name: Semantic Release
        id: semantic
        if: github.ref == 'refs/heads/main' || github.ref_name == 'alpha'
        uses: cycjimmy/semantic-release-action@v4
        with:
          dry_run: true
          semantic_version: 21
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            conventional-changelog-conventionalcommits@7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set outputs
        id: refs
        run: |
          BRANCH=${GITHUB_REF#refs/*/}
          BRANCHTRANSLATED=$(echo ${BRANCH} | tr '/' '_')
          if ${{ steps.semantic.outputs.new_release_published == 'true' }}; then
            VERSION=${{ steps.semantic.outputs.new_release_version }}
          else
            VERSION=${BRANCHTRANSLATED}_$(git rev-parse --short=12 HEAD)
          fi
          echo "new_release=${{ steps.semantic.outputs.new_release_published }}" >> $GITHUB_OUTPUT
          echo "short_ref=${BRANCHTRANSLATED}" >> $GITHUB_OUTPUT
          echo "sha_short=SHA-$(git rev-parse --short=12 HEAD)" >> $GITHUB_OUTPUT
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

  build_sim:
    name: Build Simulator (Windows)
    needs: refs
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4

    - name: Checkout berry submodule
      run: git submodule update --init --recursive libraries/berry

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Checkout simulator repository
      run: |
        git clone https://github.com/openshwprojects/obkSimulator
        mkdir -p ./libs_for_simulator
        cp -r obkSimulator/simulator/libs_for_simulator/* libs_for_simulator

    - name: Build project
      run: msbuild openBeken_win32_mvsc2017.vcxproj /p:Configuration=Release /p:PlatformToolset=v143

    - name: Flatten build assets
      run: |
        mkdir flat
        cp Release/openBeken_win32.exe flat/
        cp obkSimulator/simulator/*.dll flat/
        cp run_*.bat flat/
        mkdir flat/examples
        cp -r obkSimulator/examples/* flat/examples/

    - name: Run unit tests
      run: ./flat/openBeken_win32.exe -runUnitTests 2

    - name: Compress
      run: Compress-Archive -Path flat/* -DestinationPath obkSimulator_win32_${{ needs.refs.outputs.version }}.zip

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: simulator_${{ needs.refs.outputs.version }}
        path: obkSimulator_win32_${{ needs.refs.outputs.version }}.zip

  build_8266:
    name: Build ESP8266
    needs: refs
    runs-on: ubuntu-latest
    container:
      image: coatldev/six:latest
    steps:
      - uses: actions/checkout@v4

      - name: Checkout SDK
        uses: actions/checkout@v4
        with:
          repository: espressif/ESP8266_RTOS_SDK
          path: sdk/ESP8266_RTOS_SDK
          ref: release/v3.4
          submodules: false
          fetch-depth: 200

      - name: Install deps
        run: |
          apt-get update && apt-get -y install cmake python2 python3-pip
          pip2 install virtualenv

          cd sdk/ESP8266_RTOS_SDK
          git checkout c965e03d2b
          patch -p1 -d . < ../../platforms/ESP8266/sdk.patch
          git revert 0325f833aac7b34d7627619499949331a98fc3ab --no-edit
          git submodule update --init --recursive
          cd ../..
          python2 -m pip install --user -r sdk/ESP8266_RTOS_SDK/requirements.txt
          python3 -m pip install esptool

      - name: Build firmware
        run: |
          cd sdk/ESP8266_RTOS_SDK
          ./install.sh >/dev/null
          . ./export.sh
          . ./add_path.sh
          cd ../..
          make APP_VERSION=${{ needs.refs.outputs.version }} APP_NAME=OpenESP8266 VARIANT=default OpenESP8266

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: esp8266_${{ needs.refs.outputs.version }}
          path: |
            output/${{ needs.refs.outputs.version }}/OpenESP8266_${{ needs.refs.outputs.version }}.img
            output/${{ needs.refs.outputs.version }}/OpenESP8266_2MB_${{ needs.refs.outputs.version }}.factory.bin
            output/${{ needs.refs.outputs.version }}/OpenESP8266_1MB_${{ needs.refs.outputs.version }}.factory.bin
